aside {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 30%;
    height: 20%;
    background-color: var(--beige-color);
    border-radius: 20px;
    padding: 3rem 3rem;
}

aside p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    gap: 2rem;
    padding: 3rem 3rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: rgba(210, 193, 182, 0.25);
    border-radius: 20px;
    font-family: var(--font-family);
    padding: 3rem 2rem;
    width: 70%;
}

article h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--blue-color);
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.mainInfo button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    border-radius: 20px;
    padding: 1rem 0rem;
    cursor: pointer;
}

.userList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 50%;
    width: fit-content;
}

.userInput {
    display: flex;
    flex-direction: column;
}

.userInput label {
    font-size: 1.2rem;
    font-weight: 100;
    color: black;
}

.userInput input {
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 20rem;
}

.saleInfo {
    display: flex;
    gap: 30%;
}

.additionalList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.saleDescription {
    display: flex;
    flex-direction: column;
}

.saleDescription label {
    font-size: 1.2rem;
    font-weight: 100;
    color: black;
}

.saleDescription textarea {
    width: 25rem;         
    height: 12rem;        
    border: none;
    outline: none;
    border-radius: 20px;   
    background-color: white;
    font-size: 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    resize: none;        
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}