* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Unbounded";
    --white-color: white;
    --gray-color: #F3F3F3;
    --beige-color: #D2C1B6;
    --blue-color: #1B3C53;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 2rem solid var(--beige-color);
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
        border-bottom: 1rem solid var(--beige-color);
    }
}

header a {
    text-decoration: none;
}

header h1 {
    font-family: var(--font-family);
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .searchBox {
        justify-content: center;
    }
}

.searchBox input {
    border: none;
    border-radius: 20px;
    padding: 1rem 3rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .searchBox input {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        width: 40%;
    }
}

.buttonHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige-color);
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 2.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .buttonHeader {
        width: 1rem;
        padding: 0.3rem 0.5rem;
    }
}

@media (max-width: 768px) {
    .buttonHeader img {
        width: 100%;
    }
}

.buttonsBox {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .buttonsBox {
        gap: 0.5rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-color);
    padding: 1rem 2rem;
    height: 6rem;
}

@media (max-width: 768px) {
    nav {
        gap: 2rem;
        padding: 1rem 0.5rem;
        overflow-x: auto;
    }
}

nav a {
    text-decoration: none;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 100;
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {
    .category {
        gap: 0.5rem;
        font-size: 0.8rem;
    }

    .category img {
        height: 3rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 5rem 2rem;
}

@media (max-width: 768px) {
    main {
        padding: 2rem 1rem 10rem 1rem;
        gap: 5rem;
    }
}

article {
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--gray-color);
    border-radius: 20px;
    font-family: var(--font-family);
    height: 40rem;
    padding: 5rem 3rem;
}

@media (max-width: 768px) {
    article {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        padding: 1rem 2rem;
    }
}

article img {
    height: 100%;
}

@media (max-width: 768px) {
    article img {
        width: 90%;
    }
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media (max-width: 768px) {
    .itemInfo {
        gap: 3rem;
        width: 100%;
    }
}

.itemInfo h2 {
    font-family: var(--font-family);
    color: black;
    font-size: 3rem;
    font-weight: 900;
    width: 60%;
}

@media (max-width: 768px) {
    .itemInfo h2 {
        font-size: 1.5rem;
        width: 100%;
    }
}

.buyBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .buyBox {
        gap: 1rem;
    }
}

.buyBox p {
    font-size: 4rem;
    font-weight: 900;
    color: var(--blue-color);
}

@media (max-width: 768px) {
    .buyBox p {
        font-size: 2rem;
    }
}

.buyBox button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    border: none;
    border-radius: 20px;
    padding: 1rem 0rem;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    width: 40%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .buyBox button {
        padding: 1rem 0rem;
        font-size: 1rem;
        width: 100%;
    }
}

.subMain {
    display: flex;
    gap: 4rem;
}

@media (max-width: 768px) {
    .subMain {
        flex-direction: column;
        gap: 5rem;
    }
}

.descriptionItem {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--gray-color);
    border-radius: 20px;
    padding: 3rem 2rem;
    width: 80%;
}

@media (max-width: 768px) {
    .descriptionItem {
        width: 100%;
        padding: 1rem 2rem;
        gap: 2rem;
    }
}

.descriptionItem h3 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

@media (max-width: 768px) {
    .descriptionItem h3 {
        font-size: 1.5rem;
    }
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .mainInfo {
        width: 100%;
    }
}

.mainInfo p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 100;
    color: black;
}

@media (max-width: 768px) {
    .mainInfo p {
        font-size: 0.9rem;
        width: 90%;
    }
}

.techInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .techInfo {
        gap: 2rem;
        width: 70%;
    }
}

.techDetail {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

@media (max-width: 768px) {
    .techDetail {
        font-size: 0.9rem;
    }
}

.reviewsItem {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--font-family);
}

.review {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray-color);
    border-radius: 20px;
    padding: 1.5rem 2rem;
}

.review P {
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

@media (max-width: 768px) {
    .review P {
        font-size: 0.8rem;
    }
}

.user {
    display: flex;
    justify-content: space-between;
}

.user p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

@media (max-width: 768px) {
    .user p:nth-child(1) {
        font-size: 1rem;
    }
}

.user p:nth-child(2) {
    font-size: 1rem;
    font-weight: 100;
    color: black;
}

@media (max-width: 768px) {
    .user p:nth-child(2) {
        font-size: 0.6rem;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige-color);
    height: 10rem;
    font-family: var(--font-family);
    padding: 3rem 2rem;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: auto;
    }
}

footer h3 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
}

footer a {
    text-decoration: none;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue-color);
}

.footerInfo:nth-child(3) {
    align-items: end;
}

@media (max-width: 768px) {
    .footerInfo:nth-child(3) {
        align-items: center;
    }
}

.footerInfo p {
    cursor: pointer;
}