* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Unbounded";
    --white-color: white;
    --gray-color: #F3F3F3;
    --beige-color: #D2C1B6;
    --blue-color: #1B3C53;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 2rem solid var(--beige-color);
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
        border-bottom: 1rem solid var(--beige-color);
    }
}

header a {
    text-decoration: none;
}

header h1 {
    font-family: var(--font-family);
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .searchBox {
        justify-content: center;
    }
}

.searchBox input {
    border: none;
    border-radius: 20px;
    padding: 1rem 3rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .searchBox input {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        width: 40%;
    }
}

.buttonHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige-color);
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 2.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .buttonHeader {
        width: 1rem;
        padding: 0.3rem 0.5rem;
    }
}

@media (max-width: 768px) {
    .buttonHeader img {
        width: 100%;
    }
}

.buttonsBox {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .buttonsBox {
        gap: 0.5rem;
    }
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 100;
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {
    .category {
        gap: 0.5rem;
        font-size: 0.8rem;
    }

    .category img {
        height: 3rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
}

@media (max-width: 768px) {
    main {
        padding: 2rem 1rem 10rem 1rem;
        gap: 2rem;
    }
}

main h2 {
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-weight: 900;
    color: black;
    margin-left: 20%;
}

@media (max-width: 768px) {
    main h2 {
        font-size: 2rem;
        margin-left: 0;
    }
}

.subMain {
    display: flex;
    gap: 1rem;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: var(--font-family);
    background-color: var(--gray-color);
    border-radius: 20px;
    padding: 2rem 1rem;
    width: 20rem;
}

@media (max-width: 768px) {
    aside {
        display: none;
    }
}

aside h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
}

.filterLine {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.filterOption {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterOption p {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media (max-width: 768px) {
    .catalog {
        overflow-x: auto;
    }
}

.catalogLine {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .catalogLine {
        overflow-x: auto;
        gap: 2rem;
    }
}

.catalogLine a {
    text-decoration: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: var(--font-family);
    background-color: var(--gray-color);
    border-radius: 20px;
    padding: 2rem 1.5rem;
    width: 20rem;
    height: 30rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .item {
        width: 12rem;
        height: 25rem;
        padding: 1rem;
    }

    .item img {
        height: 50%;
        object-fit: contain;
    }
}

.item p {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

@media (max-width: 768px) {
    .item p {
        font-size: 1rem;
    }
}

.buyBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.buyBox p {
    font-size: 2rem;
    font-weight: 900;
    color: var(--blue-color);
}

@media (max-width: 768px) {
    .buyBox p {
        font-size: 1.5rem;
    }
}

.buyBox button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    border: none;
    border-radius: 20px;
    padding: 1rem 0rem;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .buyBox button {
        padding: 0.5rem 0rem;
        font-size: 1rem;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige-color);
    height: 10rem;
    font-family: var(--font-family);
    padding: 3rem 2rem;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: auto;
    }
}

footer h3 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
}

footer a {
    text-decoration: none;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue-color);
}

.footerInfo:nth-child(3) {
    align-items: end;
}

@media (max-width: 768px) {
    .footerInfo:nth-child(3) {
        align-items: center;
    }
}

.footerInfo p {
    cursor: pointer;
}